@font-face {
    font-family: "aoox";
    src: url('../font/aoox.ttf');
}

@font-face {
    font-family: "nasa";
    src: url('../font/nasa.ttf');
}

.menu {
    font-family: aoox;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222427;
}

.connexion {
    margin-left: auto;
    font-family: aoox;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222427;
}
.connexion a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
}
    .connexion a:hover {
        color: #222427;
        background-color: ghostwhite;
    }

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.links a:hover {
    color: #222427;
    background-color: ghostwhite;

}
.links li {
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;

}
.pop {
    height: 90px;
    width: 105px;
}

.title {
    font-family: aoox;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: nasa;
    font-size: 25px;
    color: black;
    text-align: center;
    background-image: url("../images/fond3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    width: 75%;
    margin: 0 auto;
}

.slideshow{
    border: 5px solid white;
    box-shadow: 0 0 5px hsla(0,0%,0%,.5);
    overflow: hidden;
    max-width: 600px;
    margin: 2rem auto;
    position: relative
}

.slideshow ul{
    padding-bottom: 66.67%;
    margin: 0;
    list-style-type: none;
    position: relative
}

.slideshow li{
    top: 0;
    left: 0;
    animation: slideshow 25s ease infinite;
    position: absolute;
    opacity: 0;
}

.slideshow li:nth-child(2){
    animation-delay: 5s
}

.slideshow li:nth-child(3){
    animation-delay: 10s
}

.slideshow li:nth-child(4){
    animation-delay: 15s
}

.slideshow li:nth-child(5){
    animation-delay: 20s
}

@keyframes slideshow{
    0%{opacity: 0}
    10%{opacity: 1}
    20%{opacity: 1}
    25%{opacity: 0}
    100%{opacity: 0}
}

.slideshow span{
    background: rgba(0,0,0,0.7);
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0
}

.top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

.top img {
    width: 33px;
}

footer {
    padding-bottom: 20px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    background-color: #222427;
    text-align: center;
}

.actualites {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}
